# API
fastapi
uvicorn
python-multipart

# Agent Orchestration
langgraph
langchain-core

# LLM (préparé pour après MVP)
langchain-openai
openai

# Data Processing
pandas
pyarrow
openpyxl
chardet

# Validation
pydantic
pydantic-settings

# Storage
minio

# Data Quality
dbt-core
dbt-duckdb

# Utils
python-dotenv
loguru

# Profiling interactif ← NOUVEAU
ydata-profiling

# dbt & DuckDB
duckdb
dbt-core
dbt-duckdb
